layout {

    focus-ring {
        active-color   "#0062a0"
        inactive-color "#f9f9f9"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#0062a0"
        inactive-color "#f9f9f9"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#0062a0"
        inactive-color "#d0e4ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#0062a080"
    }
}

recent-windows {
    highlight {
        active-color "#0062a0"
        urgent-color "#ba1a1a"
    }
}
